<footer class="footer">
  <section class="footer__container">Webmaster karolis<br>Visos teisės saugomos &copy; 2023</section>
</footer>
<script src="/javascripts/modal-menu.js"></script>
<script src="/javascripts/pagination.js"></script>