<footer class="footer">
  <section class="footer__container">Webmaster karolis<br>Visos teisės saugomos &copy; 2023</section>
</footer>
<script>window.currentCategory='<%= currentCategory // Passing into add-greetings.js %>'</script>
<script>window.numberOfPages='<%= numberOfPages // Passing into add-greetings.js %>'</script>
<script src="/javascripts/modal-menu.js"></script>
<script src="/javascripts/pagination.js"></script>