<footer class="footer">
  <section class="footer__container">
    <article>Webmaster karolis<br>Visos teisės saugomos &copy; 2023</article>
    <article><a class="footer__link" href="<%= `${rootUrl}privatumo-politika` %>">Privatumo Politika</a></article>
  </section>

</footer>