<header class="header">
  <section class="header__container">
    <div class="logo">
      <p class="logo__text">
        <a class="logo__link" href="<%= rootUrl %>">sveikinimai <br> ir linkėjimai</a>
      </p>
    </div>
  </section>
</header>