<% layout('layouts/boilerplate') -%>
<main class="main main--single-column">
  <hgroup class="headings headings--single-column">
    <h1 class="headings__h1">Tinklapio klaida</h1>
    <p class="headings__subheading"><%= `${err.statusCode}  - ${err.message}` %></p>
  </hgroup>
  <section class="content content--single-column">
    <section class="text-container">
      <p class="text__p">Tinklapio adiministratorius peržvelgs klaidą.
        Atisprašome už nesklandumą</p>
      <%# #DEV. Replace console error logging to winston or Bunyan logging into a file %>
      <%= console.log(err.stack); %>
    </section>
  </section>
</main>