/* #######|  |####### */
/*
TABLE OF CONTENTS

  1. Global styles
  1.1. Browser resets
  1.2. Global variables
  1.3. Global rules
  2. Header
  3. Main
  3.1. Headings
  3.2. Side menu (left)
  3.3. Modal menu
  3.4. Content container
  3.4.1. Greetings container
  3.4.2. Pagination container
  4. Footer
  5. Animations
  6. Media queries
*/

/* STYLE LOGICAL GROUPS */
/* CSS style properties are organized in the following logical groups:
Credit: Kevin Powell
1.	Display stuff: flex, grid, etc.
2.	Positioning stuff: position: absolute, z-index, top, right, etc.
3.	Box Model stuff: height, width, padding, margin and even background.
4.	Typography: line-height and font-size first as they affect box size. Then text-align: center, etc.
5.	Manipulation stuff: transform, filter, opacity and other things modifying elements
6.	Miscellaneous: shaddows
*/


/* #######| 1. Global styles |####### */
/* #######| 1.1. Browser resets |####### */
/* Credit: Kevin Powell */
/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */
html {
  /* color-scheme: dark light; */
}

/* min body height */
body {
  min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}


/* #######| 1.2. Global variables |####### */
/* Colors */
:root {
  /* Dominant colors */
  --primary-color: rgba(29, 151, 226, 0.05);

  /* Complimentary colors */
  --secondary-color: #ef7f10;
  --secondary-color-light: rgba(239, 127, 16, 0.2);
  --secondary-color-very-light: rgba(239, 127, 16, 0.1);

  /* Accent colors */
  --accent-color: #1d97e2;

  /* Neutral colors */
  --neutral-color: #57747D;
  --neutral-color-dark: #384a50;
  --neutral-color-very-dark: #131a1c;
  --neutral-color-medium: #deecf0;
  --neutral-color-light: rgba(222, 236, 240, 0.5);
  --neutral-color-white: #fff;

  /* Semantic colors */
  --semantic-color-success: #34b37e;
  --semantic-color-warning: #ffab00;
  --semantic-color-critical: #ff5530;
  --semantic-color-information: #0164ff;
  --semantic-color-help: #6454c0;

  /* Text styles */
  --font-family__main: Nunito, Quicksand, "Baloo 2";
  --font-family__logo: "Baloo 2", Nunito, Quicksand;
  --font-size__regular: clamp(1.8rem, 2vw, 2.4rem);
  --line-height__regular: clamp(2.1rem, 2.35vw, 2.8rem);
  /*  */

  /* 1D97E2 with 5% alpha*/
  --primary-gradient-left: linear-gradient(90deg,
      rgba(29, 151, 226, 0.1) 0%,
      rgba(29, 151, 226, 0) 100%);
  --primary-gradient-right: linear-gradient(90deg,
      rgba(29, 151, 226, 0) 0%,
      rgba(29, 151, 226, 0.1) 100%);

  /* Shadows */
  --shadow-neutral: 0px 4px 24px rgba(101, 136, 147, 0.15);
  --shadow-neutral-medium: 0px 2px 12px rgba(101, 136, 147, 0.1);
  --shadow-neutral-dark: 0px 4px 5px rgba(19, 26, 28, 0.25);
  --shadow-orange: 0px 4px 24px rgba(239, 127, 16, 0.15);
  --shadow-orange-medium: 0px 2px 12px rgba(239, 127, 16, 0.15);
}


/* #######| 1.3. Global rules |####### */
html {
  /* 62.5% of 16px browser font size is 10px */
  /*  remaining font-size: 1.6rem;  rule in the body tag */
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  /* Gradients on the sides */
  background: linear-gradient(90deg,
      rgba(52, 152, 219, 0.1) 0,
      rgba(52, 152, 219, 0) 28%,
      rgba(52, 152, 219, 0) 72%,
      rgba(52, 152, 219, 0.1) 100%),
    #ffffff;

  /* 1.6 * 10px = 16px */
  font-size: 1.6rem;
  /* Main font and heading font */
  font-family: var(--font-family__main);
}


/* #######| 2. Header |####### */
/* 250-277-314 */
.header {
  position: sticky;
  top: 0;
  /* In order for the menu to go under the logo and header wave */
  z-index: 1;

  height: 120px;
  /* Style to prevent bg svg from cropping itself below 290px. */
  /*   strange behavior I noticed on smaller resolutions. */
  /* min-width: 290px; */
  background-image: url("../assets/bg-top-wave.svg");
  background-repeat: no-repeat;
  background-position: top center;
}

/* A container for the logo to be in same width as main content */
.header__container {
  position: relative;

  max-width: 1000px;
  margin: 0 auto 0;
}

/* 72px height at 360vw to 120px at 800px. Then media query locks at 120px */
.logo {
  position: absolute;
  /* 10px at 360vw and 44px at 1280vw or more */
  top: calc(3.7vw + -3.3px);
  left: 20px;

  height: clamp(72px, calc(10.91vw + 32.73px), 140px);
  max-width: 270px;
  padding: clamp(14px, 20vw, 2rem);
  background-image: url(../assets/logo-small.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /* #Todo: Add a shadow. Also on the menu too */
}

.logo:hover {
  transition: all 0.2s ease-out;
  transform: scale(1.015);
}

/* 18px at 360vw to 36px at 800vw */
.logo__text {
  display: flex;
  align-items: center;

  height: 100%;

  font-family: var(--font-family__logo);
  font-size: clamp(1.8rem, calc(2.73vw + 8.18px), 3.6rem);
  font-weight: 300;
  line-height: clamp(1.8rem, calc(4.09vw + 3.27px), 3.6rem);
}

.logo__link {
  text-decoration: none;
  color: var(--neutral-color);
}


/* #######| 3. Main |####### */
.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  /* To fill remaining space and push footer to the bottom on low content pages */
  flex-grow: 1;

  max-width: 1000px;
  /* 0 at 360vs and 50px at 800vw */
  margin: calc(11.36vw + -40.91px) auto 0;
  padding: 0 20px;
}

/* A single column layout modifier for static pages */
.main--single-column {
  margin-left: 10px;
  margin-right: 10px;
}

/* #######| 3.1. Headings |####### */
.headings {
  grid-row: 1 / 2;
  grid-column: 1 / 3;

  min-height: max-content;
}

.headings__h1 {
  padding-left: 20px;

  font-size: 3.6rem;
  line-height: 100%;
  color: var(--neutral-color);
}

.headings__h1 {
  padding-left: 10px;
}

.headings__subheading {
  /* Box model stuff */
  height: 0;
  padding: 20px;
  padding-bottom: clamp(90px, 20vw, 20%);
  margin-bottom: 20px;
  background-image: url(../assets/subheading-bg-very-small.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;

  line-height: 140%;
  color: var(--neutral-color-dark);
  font-size: clamp(10px, calc(0.63vw + 7.75px), 1.4rem);
}


/* #######| 3.2. Side menu (left) |####### */
.side-menu {
  display: none;
  grid-row: 2 / 3;
  grid-column: 1 / 2;

  position: relative;

  /* margin-top to align top of orange container with top of greetings container */
  margin-top: -10px;
  height: max-content;
  background-image: url(../assets/side-menu-rectangle.png);
  background-position: center -10px;
  /* 98% height to prevent trimmed BG image */
  background-size: 115% 98%;
  background-repeat: no-repeat;
}

/* A dark square above the menu */
.side-menu__heading {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 230px;
  height: 46px;
  background-color: rgba(0, 0, 0, 0.85);

  color: #fff;
  font-size: 2.5rem;

  transform: translate(0%, 0%) rotate(-3deg);

  box-shadow: var(--shadow-neutral-dark);
}

.side-menu__list {
  /* top padding for space from heading and bottom to extend BG image to cover the full list */
  padding: 3rem 0 10rem 0;
  margin-bottom: 10px;

  list-style-type: none;
}

.side-menu__link {
  font-size: var(--font-size__regular);
  line-height: 130%;
  text-decoration: none;
  font-family: var(--font-family__main);
  color: var(--neutral-very-dark-color);

  transition: color 0.05s ease-in-out;
}

.side-menu__link:hover {
  color: var(--neutral-color-white);
}

.menu-open-button {
  position: fixed;
  /* Increasing so the button is over greeting article when article hover is applied */
  z-index: 10;
  /* Visible on mobile screens */
  opacity: 1;

  width: 40px;
  height: 40px;
  bottom: 30px;
  right: 30px;
  background-image: url(../assets/circle-menu-solid.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;

  transition: transform 0.2s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.menu-open-button:hover {
  animation: rotateAndBack 0.4s ease-out;

  background-image: url(../assets/circle-menu-solid-hover.svg);
  /* #ToDo: To add this or another shadow after svg's are transparent instead of white as currently */
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}

.menu-open-button:active {
  transform: scale(0.9);
}

.menu-open-button__hidden {
  opacity: 0;
}

/* #######| 3.3. Modal menu |####### */
/* Credit: https://www.w3schools.com/howto/howto_css_modals.asp */
/* The Modal (background) */
.modal-overlay {
  /* Taking out of the normal flow to cover the whole screen */
  position: fixed;
  /* Sit on top */
  z-index: 100;
  /* Location of the box */
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;
  /* Fallback color */
  background-color: rgb(0, 0, 0);
  /* Black with opacity */
  background-color: rgba(0, 0, 0, 0.7);

  /* Enable scroll if needed */
  overflow: auto;

  opacity: 0;

  visibility: hidden;
  transition: opacity 0.4s ease, visibility 0s, linear 0.4s;
}

/* Makes overlay visible. Toggled with JS */
.modal-overlay__open {
  /* visibility does not change layoyt unlike display:none */
  visibility: visible;
  transition: opacity 0.4s ease;
  opacity: 1;
}

/* Modal Content */
.modal-menu {
  /* To align menu items in a vertical order */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  /* Fixed position so I can align the menu to the right */
  position: fixed;
  /* vertically nearly centering with top and bottom at 0 */
  top: 1rem;
  right: 2rem;
  /* Off screen by default */
  transform: translate(100%, 1rem);


  min-width: 28.5rem;
  max-width: max-content;
  /* min-height: clamp(77vh, 550px, 100%); */
  /* min-height: 100vh; */
  max-height: max-content;
  padding: 1rem 0 1rem 0;
  background-image: url(../assets/side-menu-rectangle.png);
  background-position: center -1rem;
  background-size: 100% 100%;
  /* background-size: cover; */
  background-repeat: no-repeat;

  border-radius: 30px;
  /* Will not move up or down. Useful for small heights */
  /* transform: translateY(0%); */
  /* Makes the menu slide in from the right */
  transition: transform 0.4s ease, visibility 0s linear 0.4s;
}

/* Makes menu visible. Toggled with modal-menu.js */
.modal-menu__open {
  /* moves the menu on screen 2rem from the right. -23rem default */
  transform: translate(0%, 1rem);
  /* right: 2rem; */

  margin-right: 0;

  transition: transform 0.4s ease;
}

.modal-menu__heading {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 4rem;
  /* Padding instead of min-width for better compatibility */
  padding: 0 1.4rem;
  background-color: rgba(0, 0, 0, 0.85);

  color: #fff;
  font-size: 2.2rem;

  /* -25% vertical to align heading on the edge of BG image */
  transform: translate(0%, -38%) rotate(-3deg);

  box-shadow: var(--shadow-neutral-dark);
}

.modal-menu__container {
  display: flex;
  flex-grow: 0;
  /* Centering content */
  flex-direction: column;
  align-items: center;
}

.modal-menu__list {
  /* setting a width so we can center it with flexbox */
  max-width: max-content;
  /* Nudging from the top heading to give whitespace */
  padding-top: 1.2rem;

  list-style-type: none;
  /* Setting a smaller size so the menu fits on 360x640 mobile resolution */
  font-size: 1.3rem;
}

.modal-menu__list-item {
  line-height: 150%;
}

.modal-menu__link {
  /* font-size: 1.8rem; */
  font-size: var(--font-size__regular);
  line-height: var(--line-height__regular);
  font-family: var(--font-family__main);
  text-decoration: none;
  color: var(--neutral-very-dark-color);

  transition: color 0.05s ease-in-out;
}

.modal-menu__link:hover {
  color: var(--neutral-color-white);
}

.modal-menu__close-button {
  align-self: flex-end;

  /* Aligning the close button within orange background */
  width: 40px;
  height: 40px;
  /* Aligning the close button within orange background */
  margin: 0 37px 46px 0;
  background-image: url(../assets/close-icon-white.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;

}

.modal-menu__close-button:hover {
  background-image: url(../assets/close-icon-vdark.svg);

  animation: rotateAndBack 0.4s ease-out;
}

.modal-menu__close-button:active {
  transform: scale(0.9);
}

/* #######| 3.4. Content container |####### */
.content {
  /* width: 6%; */
  flex-basis: 100px;
  /* flex-grow does not work for some reason */
  /* It should just fill remaining space */
  flex-basis: calc(99% - 284px - 23px);
  flex-grow: 1;
  /* To set content on the right of the side-menu */
  order: 1;
}

/* #######| 3.4.1. Greetings container |####### */
.greetings-container {
  display: grid;
  /* Two columns once width is above 800px */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.greeting {
  /* In order to position icons at the bottom */
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  background: #fff;
  padding: 20px;

  /* Shadow. Neutral */
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  box-shadow: 0px 4px 24px rgba(101, 136, 147, 0.15);
}

.greeting:hover {
  transition: all 0.2s ease-out;
  box-shadow: rgba(101, 136, 147, 0.15) 0px 6px 12px 4px;
  transform: scale(1.015);
}

.greeting__text {
  /* Text. Regular */
  font-family: var(--font-family__main);
  font-style: normal;
  font-weight: 400;
  font-size: var(--font-size__regular);
  line-height: 150%;
  color: var(--neutral-dark-color);
  white-space: pre-line;
}

.greeting__icon-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  padding-top: 20px;
  gap: 20px;

  color: var(--accent-color);
}

.greeting__icon {
  height: 40px;
  width: 40px;

  transition: transform 0.1s ease-in-out;
}

.greeting__icon:hover {
  animation: rotateAndBack 0.4s ease-out;
}

.greeting__icon:active {
  transform: scale(0.9);
}

.greeting__like-icon {
  background-image: url(../assets/like-icon.svg);
}

.greeting__fb-icon {
  background-image: url(../assets/fb-icon.svg);
}

.greeting__mail-icon {
  background-image: url(../assets/mail-icon.svg);
}


/* #######| 3.4.2. Pagination container |####### */
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;

  margin-top: 20px;
}

.add-greetings__button {
  display: inline-block;

  height: 6rem;
  padding: 10px 24px;
  background-color: #fff;

  font-weight: 400;
  color: var(--neutral-color);
  font-size: 2rem;

  border: 4px solid var(--primary-color);
  border-radius: 50px;
  transition: all 0.2s ease-out;

  box-shadow: 0px 2px 12px 0px rgba(101, 136, 147, 0.1);
  outline: 0;
  cursor: pointer;
}

/* For hiding while loading new content and showing a progress wave */
/* Or after full content is paginated */
.add-greetings__button--hidden {
  display: none;
}

.add-greetings__button:hover {
  box-shadow: 0px 8px 22px 0px rgba(101, 136, 147, 0.15),
    0px 4px 6px 0px rgba(239, 127, 16, 0.15);
}

/* Infinite scroll wave animation */
.pagination__wave {
  display: none;

  justify-content: center;
  align-items: center;
}

.pagination__wave--show {
  display: flex;
}

.pagination__wave-line {
  width: 9px;
  /* Height is 36px at 360vw, max height is 6rem. Preferred is  */
  height: clamp(3.6vw, calc(5.45vw + 16.36px), 6rem);
  margin: 7px;
  background: linear-gradient(45deg, #EF7F10, #fff);

  border-radius: 20px;
  animation: wave 1s linear infinite;
}

.pagination__wave-line:nth-child(2) {
  animation-delay: 0.1s;
}

.pagination__wave-line:nth-child(3) {
  animation-delay: 0.2s;
}

.pagination__wave-line:nth-child(4) {
  animation-delay: 0.3s;
}

.pagination__wave-line:nth-child(5) {
  animation-delay: 0.4s;
}

.pagination__wave-line:nth-child(6) {
  animation-delay: 0.5s;
}

.pagination__wave-line:nth-child(7) {
  animation-delay: 0.6s;
}

.pagination__wave-line:nth-child(8) {
  animation-delay: 0.7s;
}

.pagination__wave-line:nth-child(9) {
  animation-delay: 0.8s;
}

.pagination__wave-line:nth-child(10) {
  animation-delay: 0.9s;
}

/* Word "Pabaiga" after all greetings are fetched */
.pagination__end {
  visibility: hidden;

  font-style: var(--font-family__main);
  font-weight: 400;
  font-size: var(--font-size__regular);
}

.pagination__end--show {
  /* display: block; */
  visibility: visible;
}

/* #######| 3.4.3. Text container |####### */
/* Alternative to greetings container. Used on static pages */
.text-container {
  display: flex;
  flex-direction: column;

  background: #fff;
  padding: 20px;
  min-height: clamp(100%, 30vh, 100px);
  ;

  /* Shadow. Neutral */
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  box-shadow: 0px 4px 24px rgba(101, 136, 147, 0.15);
}

.text-container__h3 {
  /* Text. Regular */
  font-family: var(--font-family__main);
  font-style: normal;
  font-weight: 400;
  font-size: 2.0rem;
  line-height: 150%;
  color: var(--neutral-dark-color);

}

.text-container__p {
  /* Adding a space between paragraphs */
  padding-bottom: 1.5rem;

  /* Text. Regular */
  font-family: var(--font-family__main);
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 150%;
  color: var(--neutral-dark-color);
  white-space: pre-line;
}

.text-container__ul {
  padding-left: 1.5rem;
  padding-bottom: 1.5rem;

  font-family: var(--font-family__main);
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 150%;
  color: var(--neutral-dark-color);
}

/* #######| 4. Footer |####### */
.footer {
  width: 100%;
  height: 7.2rem;
  margin-top: 50px;

  /* Styling */
  line-height: 150%;
  font-size: clamp(1.1rem, 2vw, 20px);
  color: var(--neutral-color);
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
  max-width: 1000px;
  padding: 0 40px;
}

/* generate two classes within footer__container flexbox where one is on the left of the footer and another on the right */
.footer__link {
  text-decoration: none;
  color: var(--neutral-color);
}

.footer__link:hover {
  color: var(--neutral-color-dark);
  text-decoration: underline;
}


/* #######| 5. Animations |####### */
/* Button rotations */
@keyframes rotateAndBack {

  /* define animation */
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-7deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/* Menu slide in */
@keyframes slideIn {
  0% {
    right: -27rem;
  }

  100% {
    right: 2rem;
  }
}

/* Pagination waves */
@keyframes wave {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}


/* #######| 6. Media queries |####### */
/* Optimized for resolutions 360px, 600px, 800px and 1280px */
/* Media query for subheading BG image */
/* Cannot get the image to stretch beyond its proportions */
@media (min-width: 430px) {
  .headings__subheading {
    background-image: url(../assets/subheading-bg-small.svg);
  }
}

@media (min-width: 600px) {
  .headings__subheading {
    background-image: url(../assets/subheading-bg-small.svg);
  }

  /* Increasing button size on tablets from 40px to 60px */
  .menu-open-button {
    width: 50px;
    height: 50px;
  }

  /* Adding space in the menu for a larger button */
  .modal-menu__list {
    /* padding-bottom: 76px; */
  }

  .modal-menu__button-image {
    height: 50px;
  }
}

@media (min-width: 800px) {

  .headings__h1 {
    font-size: 4.4rem;
  }

  .headings__subheading {
    background-image: url(../assets/subheading-bg-medium.svg);
  }

  .logo {
    left: 50px;
    top: 44px;
  }

  .main {
    grid-template-columns: 284px 1fr;
    grid-template-rows: auto 1fr;
    padding: 0 20px;
    margin: 0 auto;
  }

  .main--single-column {
    grid-template-columns: 1fr;
    /* Calc as per non-media-query main class  */
    /* then 10vw from left and right */
    margin-top: calc(8.33vw - 6.67px);
    /* margin: calc(11.36vw - 40.91px) 10vw 0 10vw; */

  }

  /*  */
  .headings {
    /* To align h1 just below the logo */
    margin-top: calc(4.17vw + 6.67px);
    margin-left: calc(284px + 23px);
  }

  .headings--single-column {
    /* Removing margin from left */
    /* as there is no side menu */
    margin-left: 0;
    /* Bringing heading up as there is enough whitespace already */
    margin-top: 10px;
  }

  .headings__subheading {
    margin-bottom: 10px;
  }

  .side-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content {
    margin: 10px 0 0 23px;
  }

  .content--single-column {
    margin: 10px 0 0 0;
  }

  .text-container__h3 {
    font-size: 2.4rem;
  }

  .text-container__p {
    font-size: 1.8rem;
  }

  /* Hiding on large screens */
  .menu-open-button {
    opacity: 0;
  }

  .footer__container {
    padding: 0 20px 0 70px;
  }
}

@media (min-width: 1280px) {
  .headings__h1 {
    font-size: 5rem;
  }

  .headings__subheading {
    font-size: 1.6rem;
  }

  .greeting__text {
    /* font-size: 2rem; */
  }

  .text-container__h3 {
    font-size: 2.8rem;
  }

  .text-container__p {
    font-size: 2rem;
  }
}